@using PointOfSales.Models
@model dynamic

@{
    ViewBag.Title = "Bill";
}

<<h1 class="text-center mb-4">@ViewBag.Title</h1>

 <div class="container">
     <div class="col-5 mx-auto">
         <div class="card">
             <table class="table">
                 <tr>
                     <th colspan="2" class="text-center">Point of Sales</th>
                 </tr>
                 <tr>
                     <td>ID</td>
                 </tr>
                 <tr>
                     <td>Waktu</td>
                 </tr>
                 <tr>
                     <td>Ayam</td>
                     <td>10.000</td>
                 </tr>
                 <tr>
                     <td>Es Buah</td>
                     <td>15.000</td>
                 </tr>
                 <div class="col-5"></div>
                 <tr>
                     <td>
                         <b>Total</b>
                     </td>
                     <td>
                         <b>25000</b>
                     </td>
                 </tr>
             </table>
         </div>
         <br />
         <button type="button" class="btn btn-success btn-block">Print</button>
     </div>
 </div>

