@using PointOfSales.Models
@model dynamic

@{
    ViewBag.Title = "Home Page";
}
@*<style>
    #t01 {
        width: 50%;
    }

    #t01, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 15px;
        text-align: left;
    }

    #t01 tr:nth-child(even) {
        background-color: #eee;
    }

    #t01 tr:nth-child(odd) {
        background-color: #fff;
    }

    #t01 th {
        background-color: black;
        color: white;
    }

    * {
        box-sizing: border-box;
    }

    .column {
        float: left;
        width: 10%;
        padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
</style>*@
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-6">
            @for (var i = 0; i < 7; i++)
            {
                
                    <div class="col-sm-3">
                        <div class="card" style="border:1px ; border-style: solid; margin-bottom:10px">
                            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/SNice.svg/220px-SNice.svg.png" alt="Card image cap" width="70%">
                            <div class="card-body">
                                <h5 class="card-title">Test</h5>
                                <a href="#" class="btn btn-primary">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                    }
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <div>
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                    @foreach (CartModel cart in Model.Carts)
                    {
                        <tr>
                            <td>@cart.Item.Name</td>
                            <td>@(cart.Amount*cart.Item.Price)</td>>
                        </tr>
                    }
                </table>
                <div class="text-center" style="background-color:#E5F61A;">
                    <h3>Total Harga = Rp.</h3>
                </div>
                <button type="button" class="btn btn-success btn-block">Bayar</button>
                <div style="margin-bottom:2px"></div>
                <button type="button" class="btn btn-danger btn-block">Batal</button>
            </div>
        </div>
    </div>
</div>

