@using PointOfSales.Models
@model IEnumerable<ItemModel>

@{
    ViewBag.Title = "Item List";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<table cellpadding="0" cellspacing="0">
    <tr>
        <th>Item Id</th>
        <th>Name</th>
    </tr>
    @foreach (ItemModel item in Model)
    {
        <tr>
            <td>@item.ItemId</td>
            <td>@item.Name</td>
        </tr>
    }
</table>